# Directorios
/wpaperd/wallpapers/
/kate/
/htop/
/cava/
/autostart/
/backup-elements/
/bat/
/BetterDiscord/
/BetterDiscord\ Installer/
/bleachbit/
/btop/
/vanba/
/Code/
/configstore/
/copyq/
/dconf/
/deluge/
/discord/
/falkon/
/gedit/
/GitHub\ Desktop/
/google-chrome/
/jamesdsp/
/kanshi/
/kde.org/
/Kvantum/
/libfm/
/libreoffice/
/micro/
/mpv/
/nwg-drawer/
/nwg-launchers/
/nwg-look/
/octopi/
/pcmanfm/
/psd/
/pulse/
/qt5ct/
/ranger/
/smplayer/
/swaylock/
/swaync/
/Thunar/
/ulauncher/
/vlc/
/wireshark/
/wofi/
/xfce4/
/xsettingsd/
/katemetainfos/
/katerc/
/pavucontrol.ini/
/user-dirs.dirs/
/user-dirs.locale/
/Google/
/audacity/
/chromium/

# Archivos
/user-dirs.lo
/katemetainfos
/katerc
/katevirc
/pavucontrol.ini
/user-dirs.dirs
/user-dirs.locale
/QtProject.conf
mimeapps.list
garuda/garuda-settings-manager.conf
JetBrains/
VirtualBox/
fish/functions/fish_prompt.1691509551.copy
kglobalshortcutsrc
kactivitymanagerdrc
*.conf
*.README
*.menu
obs-studio/
kdedefaults/
eog/
gtkrc
gtkrc-2.0
kdeglobals
obsidian/
plasma-localerc
wpaperd/
GitKraken/
bale*/
Brave*/
capacitor/
github-copilot/
jgit/
kronometerrc
StarUML/
cef*
nvim/
pamac/config
