# Directorios
/wpaperd/wallpapers/
/kate/
/htop/
/cava/
/alacritty/
/autostart/
/backup-elements/
/bat/
/BetterDiscord/
/BetterDiscord\ Installer/
/bleachbit/
/btop/
/vanba/
/Code/
/configstore/
/copyq/
/dconf/
/deluge/
/discord/
/falkon/
/gedit/
/GitHub\ Desktop/
/google-chrome/
/jamesdsp/
/kanshi/
/kde.org/
/kitty/
/Kvantum/
/libfm/
/libreoffice/
/micro/
/mpv/
/nwg-drawer/
/nwg-launchers/
/nwg-look/
/octopi/
/pcmanfm/
/psd/
/pulse/
/qt5ct/
/ranger/
/smplayer/
/swaylock/
/swaync/
/Thunar/
/ulauncher/
/vlc/
/wireshark/
/wofi/
/xfce4/
/xsettingsd/
/katemetainfos/
/katerc/
/pavucontrol.ini/
/user-dirs.dirs/
/user-dirs.locale/

# Archivos
/user-dirs.lo
/katemetainfos
/katerc
/katevirc
/pavucontrol.ini
/user-dirs.dirs
/user-dirs.locale
/QtProject.conf
mimeapps.list
garuda/garuda-settings-manager.conf
JetBrains/
VirtualBox/